@charset "UTF-8";

body {
    background-color: #2b1f17;
}

header {
    border: 5px solid red;
    background: white;
    display: inline-block;
}

h1 {
    font-size: 120px;
    font-family: "Montserrat";
    letter-spacing: 8px;
    text-align: center;
    color: #c9a227;
    text-shadow: 4px 4px 10px black;
}

h2 {
    font-size: 60px;
    font-family: "Montserrat";
    letter-spacing: 8px;
    text-align: center;
    color: #c9a227;
    text-shadow: 4px 4px 10px black;
}

blockquote {
    border: 5px solid red;
	background: white;
	flex-direction: column;
    display: inline-block;
    margin-left: 450px;
}
