@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    padding: 40px 0;
    font-family: "Oswald";
}

#page {
    width: 900px;
    margin: auto;
}

h1 {
    display: inline-block;
    border: 2px solid black;
    padding: 4px 4px;
    font-size: 25px;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    font-size: 75px;
    letter-spacing: 10px;
    word-spacing: 50px;
    margin: 10px 0 5px 0;
}

header p {
    text-align: left;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

main p {
    column-count: 3;
}
