h1 {
    font-size: 20px;
    color: orange;
    margin-left: 15px;
}

article {
    column-count: 2;
}

img {
    width: 520px;
}

h2:first-of-type {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

p:first-of-type {
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    margin-right: 100px;
}

p strong {
    color: orange;
}

p {
    margin-right: 50px;
    margin-top: 5px;
}

footer {
    margin-top: 50px;
    margin-right: 925px;
}
